/* styles.css */

/* Rezept-Stile */
.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 11em;
    margin: 0.2em; /* Verkleinerter Margin in em */
    text-align: center;
    padding: 0.2em; /* Padding in em */
    /* border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    height: 15em; /* Feste Höhe für den Container in em */
    overflow: hidden; /* Verhindert, dass Inhalte überlaufen */
}

/* Container für das Bild */
.recipe .image-container {
    width: 100%;
    flex-shrink: 0;
}

/* Bild-Styling */
.recipe img {
    width: 100%; /* Das Bild nimmt die gesamte Breite des Containers ein */
    max-width: 100%; /* Verhindert, dass das Bild größer als der Container wird */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    object-fit: cover; /* Bild passt sich dem Container an, ohne verzerrt zu werden */
    border-radius: 0.5em; /* Optional, um abgerundete Ecken hinzuzufügen */
}

/* Container für den Text */
.recipe .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

/* Überschrift für das Rezept */
.recipe h2 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 15px;
}

/* Container für alle Rezepte */
.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em; /* Abstand zwischen den Rezepten */
}
